.background {
  background-image: url("./img_login/loginback.png");
  width: 80%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  padding-top: 150px;
  position: absolute;
  top: 80px;
}

.login-wrapper {
  position: relative;
  left: 480px;
  top: 50px;
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}

.welcome {
  position: relative;
  left: 510px;
  top: -15px;
  font-size: 60px;
  color: black;
  font-family: "Irish Grover";
}

#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

#login-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #ff1493;
  margin-top: 20px;
}

#login-form > input[type="checkbox"] {
  display: none;
}

#login-form > label {
  color: #999999;
}

#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#login-form input[type="checkbox"]:checked + label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*nav*/
.navbar {
  position: fixed;
  z-index: 100;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}
.title {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: "Irish Grover";
}
ul {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
li,
.login {
  text-decoration-line: none;
  color: black;
  font-size: 20px;
  font-family: "Source Serif 4";
}
.login {
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
